<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{evento.acf.nome_do_evento}}" id="artigo">
  <ion-content class="padding">
    <img ng-src="{{evento.acf.imagem_evento}}">
    <h2>{{evento.acf.nome_do_evento}}</h2>
    <p ng-bind-html="evento.acf.descricao_do_evento"></p>

  </ion-content>
</ion-view>
