<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Marketing Por Dados" id="artigo">

  <ion-nav-title>
    <img id="logo-artigo" src="img/mktpd.png" alt="">
  </ion-nav-title> 
  
  <ion-content class="padding">
    <img ng-src="{{post.better_featured_image.source_url}}">
    <h2>{{post.title.rendered}}</h2>
    <p ng-bind-html="post.content.rendered"></p>

  </ion-content>
</ion-view>
