<ion-view view-title="Eventos">

  <ion-nav-title>
    <img id="events-header" src="img/logo-orange.png" alt="">
  </ion-nav-title> 

  <ion-content has-bouncing="true">

     <ion-refresher on-refresh="refreshEventos()" pulling-icon="false"></ion-refresher>

      <ion-list id="blog">

      <a class="card item tappable" ng-repeat="evento in eventos" type="item-text-wrap" href="#/tab/blog/{{post.id}}">
        <img ng-src="{{evento.better_featured_image.source_url}}">
        <p> {{evento.date | date: 'dd/MM/yy'}}</p>
        <h2>{{evento.title.rendered}}</h2>
        <!-- <p ng-bind-html="evento.excerpt.rendered"></p> -->
      </a>
    </ion-list>
  </ion-content>
</ion-view>
