<ion-view view-title="Eventos">

  <ion-nav-title>
    <img id="events-header" src="img/logo-orange.png" alt="">
  </ion-nav-title> 

  <ion-content has-bouncing="true">

     <ion-refresher on-refresh="refreshEventos()" pulling-icon="false"></ion-refresher>

      <ion-list id="evento">

      <a class="card item tappable" ng-repeat="evento in eventos" type="item-text-wrap" href="#/tab/eventos/{{evento.id}}">
        <img ng-src="{{evento.imagem_evento}}">
        <h2>{{evento.nome_do_evento}}</h2>
        <p><i class="ion-ios-location-outline event-icon"></i> {{evento.local_evento}}</p>
        <p><i class="ion-ios-clock-outline event-icon"></i> {{evento.data_evento | date: 'dd/MM/yy'}}</p>
        
      </a>
    </ion-list>
  </ion-content>
</ion-view>
