<ion-view view-title="Posts">

<!-- <ion-nav-title id="home-header">
    <img id="logo-header" src="img/logo-orange.png" alt="">
  </ion-nav-title>  -->
  <ion-content has-bouncing="true">

    <ion-refresher on-refresh="refreshPosts()" pulling-icon="false"></ion-refresher>

    <ion-list id="blog">

      <a class="card item tappable" ng-repeat="post in posts" type="item-text-wrap" href="#/tab/blog/{{post.id}}">
        <img ng-src="{{post.better_featured_image.source_url}}">
        <p> {{post.date | date: 'dd/MM/yy'}}</p>
        <h2>{{post.title.rendered}}</h2>
        <!-- <p ng-bind-html="post.excerpt.rendered"></p> -->

      </a>
    </ion-list>
  </ion-content>
</ion-view>
