    /*
        titulos: font-family: 'Montserrat', sans-serif;
        laranja BUSCAR: #e76012
    */

    ion-content {
        background-color: #f6f6f6;
    }

    .scroll {
        width: 100%;
    }

    a {
        text-decoration: none;
    }

    .tabs-light > .tabs, .tabs.tabs-light {
        background-color: #fff;
        color: #444;
    }

    .tab-on {
        color:  #e76012 !important;
    }

    .bar-light .button.button-clear, .bar.bar-light .title {
        color: #e76012;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px; 
        letter-spacing: 2px;   
        font-weight: 300;
        
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.1em !important;
        letter-spacing: 0.4px;
    }

    #events-header {
        width: 41%;
        margin-top: 5px;
    }

/* SOBRE */

#sobre {
    background-color: #f6f6f6;
}

#sobre img {
    width: 100%;
    margin-top: 60%;
}
/********/

/* ARTIGO */
    #artigo img {
    	width: 100%;
    }

    #artigo h2 {
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        color: #e76012;
    }

    #artigo p {
        font-size: 1em;
        color: #666;
        text-align: justify;
    }

/**********/


/* POST CARD */

    #blog .item-content {
        padding: 0.5em;
    }

    #blog img {
        width: 100%;
    }

    #blog .card {
        width: 100%;
        margin: 10px 5px;
        box-shadow: 0 2px 1px 0 #d6d6d6;
        border-radius: 4px;
        transform: translate3d(0,0,0);
        transition-delay: .5s;
        transition: transform .15s;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.180392);
        border: none;
        padding: 0.5em;
        width: 97%;
    }

    #blog .card.activated {
        box-shadow: 0 2px 6px 2px #d6d6d6;
        background-color: #fff;
    }

    #blog h2 {
        white-space: pre-wrap;
        font-family: 'Montserrat', sans-serif;
        color: #e76012;
        font-size: 1.2em;
        margin-top: 5px;

    }

    #blog p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
    }

    #blog .button-icon .icon:before, .button-icon.icon:before {
        font-size: 37px !important;    
        margin-top: -3px;
    }

    #post-card {
    	padding: 0;
    }

    #post-card h2 {
    	white-space: normal;
        position: absolute;
        top: 0;
        padding: 1em;
        color: black;
        font-size: 1.5em;
        font-weight: bold;
        text-align: left;
    }

    #post-card img {
    	width: 100%;
    }

    #logo-blog {
        width: 38%;
        margin-top: 8px;
    }

    #logo-artigo {
        width: 50%;
        margin-top: 6px;
    }
/*************/


/* HOME HEADER */
    #home-header .bar .title {
        height: 75px !important;
    }
    #home-header .bar {
        height: 75px !important;
    }

    .button-star,
    .button-star .icon:before{
      font-size: 37px !important;
      color: #ffd008;
    }
/***************/


/* HOME */
    #home {
        padding: 0;
        margin: 0;
        background-color: #e76012;
        text-align: center;
    }

    #home .box {
      background: white;
      padding: 15px 15px 30px;
    }

    .orange-box {
        height: 50%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    #home p {
        font-size: 1.2em !important;
        color: #666;
        line-height: 20px;
        letter-spacing: 1.5px;
    }

    #home h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        margin: 0 auto;
        font-size: 2.5em;
        color: #ddd;
    }

    #home .button {
        width: 90%;
        margin: 10% 0;        
        height: 55px;
        line-height: 50px;
        border-radius: 7px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 1.5em;
        font-weight: 400;        
    }

    .btn-eventos {
        color: #e76012;
        background: #fff;
    }

    .btn-blog {
        border: 2px solid #fff;
        background: transparent;
        color: #fff;
    }

     .btn-blog.activated {
        color: #e76012;
        background: #fff;
        border: none;
    }

    .btn-eventos.activated {
        border: 2px solid #fff;
        background: transparent;
        color: #fff;
    }


    #logo-dash {
        width: 100%;
        margin: 10% 0 5%;
    }
/********/

/* EVENTO */

    #evento .item-content {
        padding: 0.5em;
    }

    #evento img {
        width: 100%;
    }

    #evento .card {
        width: 100%;
        margin: 10px 5px;
        box-shadow: 0 2px 1px 0 #d6d6d6;
        border-radius: 4px;
        transform: translate3d(0,0,0);
        transition-delay: .5s;
        transition: transform .15s;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.180392);
        border: none;
        padding: 0.5em;
        width: 97%;
    }

    #evento .card.activated {
        box-shadow: 0 2px 6px 2px #d6d6d6;
        background-color: #fff;
    }

    #evento h2 {
        white-space: pre-wrap;
        font-family: 'Montserrat', sans-serif;
        color: #e76012;
        font-size: 1.2em;
        margin-bottom: 8px;


    }

    #evento p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
    }

     .event-icon {
        color: #e76012;
        font-size: 1.2em;
        margin-right: 5px;
     }

     .star-icon {
        color: #ffd008;
     }

     .star-box {
        display: flex;
        flex-flow: row;
        align-items: baseline;
        justify-content: space-between;
        flex-wrap: nowrap;
     }

     #evento .button-icon .icon:before, .button-icon.icon:before {
        font-size: 37px;
    }


/*********/

/* EVENT DETAIL */
    #event-detail .event-icon {
        color: #e76012;
        font-size: 1.7em;
        margin-right: 7px;
     }

     .share-icon {
        margin-right: 15px;
        color: #666 !important;
     }


/****************/



/* FAVORITOS */
    #favoritos h3 {
        color: #8c8f91;
        font-size: 18px;
        margin-left: 3.5%;
        margin-bottom: -1%;
        margin-top: 5%;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        text-align: left;
        text-transform: uppercase;
    }

    #favoritos hr {
        margin: 1% 4% 0 6%;
        border-width: 1.5px;
    }

    #favoritos .empty-state {
        text-align: center !important;
        margin-top: 30%;
    }

    #favoritos .empty-state img {
        opacity: 0.6;
        width: 50%;
    }

    #favoritos .empty-state h3 {
        margin: 5%;
        text-align: center;
    }

/****************/
